@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body { width:100%; margin:0 auto;}
* { outline:0 !important;}
@font-face {
    font-family: custom;
    src: url(PAKENHAM_BOSS.TTF);
}

#background {width:100%; height:800px; z-index:-1; position:absolute; left:0; top:0; overflow:hidden;}
#background img { margin:0; padding:0; height: 100%;}

#main_page {width:750px; position:relative; margin:0 auto; padding:0;}

/*landing page*/
#landing { background: url(../imgs/landing.png); height: 618px; width: 750px; margin-top: 122px; position: relative;}
.nav { font-family: custom; color: #000;}
.nav:hover {color: #092705;}
.play { position: absolute; top: 242px; left: 340px; font-size: 30px;
-webkit-transform: rotate(352deg);
-moz-transform: rotate(352deg);
-o-transform: rotate(352deg);
writing-mode: lr-tb;}
.options { position: absolute; top: 306px; left: 280px; font-size: 30px;
-webkit-transform: rotate(352deg);
-moz-transform: rotate(352deg);
-o-transform: rotate(352deg);
writing-mode: lr-tb;}
.leader { position: absolute; top: 365px; left: 250px; font-size: 30px;
-webkit-transform: rotate(352deg);
-moz-transform: rotate(352deg);
-o-transform: rotate(352deg);
writing-mode: lr-tb;}
.tutorials { position: absolute; top: 430px; left: 290px; font-size: 28px;
-webkit-transform: rotate(355deg);
-moz-transform: rotate(355deg);
-o-transform: rotate(355deg);
writing-mode: lr-tb;}
.score { position: absolute; top: 485px; left: 340px; font-size: 30px;
-webkit-transform: rotate(358deg);
-moz-transform: rotate(358deg);
-o-transform: rotate(358deg);
writing-mode: lr-tb;}
.rules { position: absolute; top: 538px; left: 345px; font-size: 20px;}
/*landing page*/

.head { position:relative; width:750px; margin:0; padding:0; height:115px;}
#logo { padding:10px;}
#play { position:absolute; left:195px; top:0;}
#tutorials { position:absolute; left:370px; top:0;}
#score { position:absolute; left:550px; top:0;}
#options { position:absolute; left:283px; top:47px;}
#leader { position:absolute; left:453px; top:46px;}
#rules { position:absolute; left:620px; top:48px;
transform: rotate(5deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(5deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(5deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(5deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(5deg) scale(1) skew(1deg) translate(0px);}
.background_page { background:url(../imgs/wood.png); height:650px; width:750px; overflow:auto;}
.play_div {height:650px; width:750px;}
h3 { font-family:custom; text-align:center; color:#000; font-size:25px; padding:20px;}
/*registration page*/
label {font-family: 'Bree Serif', serif; color:#000; padding:5px 20px;}
.input_box { width:675px; padding:10px 15px; border-top: none; border-left: none; border-right: none; border-bottom:4px solid #002B0F; color:#fff;font-family: 'Bree Serif', serif; margin-left:20px; font-size:14px; margin-bottom:10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002b0f+0,002b0f+100&amp;0.9+0,0.9+99 */
background: -moz-linear-gradient(top,  rgba(0,43,15,0.9) 0%, rgba(0,43,15,0.9) 99%, rgba(0,43,15,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,43,15,0.9)), color-stop(99%,rgba(0,43,15,0.9)), color-stop(100%,rgba(0,43,15,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,43,15,0.9) 0%,rgba(0,43,15,0.9) 99%,rgba(0,43,15,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,43,15,0.9) 0%,rgba(0,43,15,0.9) 99%,rgba(0,43,15,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,43,15,0.9) 0%,rgba(0,43,15,0.9) 99%,rgba(0,43,15,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,43,15,0.9) 0%,rgba(0,43,15,0.9) 99%,rgba(0,43,15,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6002b0f', endColorstr='#e6002b0f',GradientType=0 ); /* IE6-9 */
}
.input_box:focus { border-bottom:4px solid #fff;}
.adderss { max-width:675px; max-height:100px;}
.button { color:#fff; font-family:custom; border:none; padding:10px 20px;background:#472f24; cursor:pointer;
-moz-box-shadow: 2px 2px 8px #000000;
-webkit-box-shadow: 2px 2px 8px #000000;
box-shadow: 2px 2px 8px #000000;}
.button:hover { color:#FF9;
-moz-box-shadow: 0px 1px 8px #000000;
-webkit-box-shadow: 0px 1px 8px #000000;
box-shadow: 0px 1px 8px #000000;}
.text-center { text-align:center;}
/*registration page*/

#footer { margin:0; padding:0; width:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.8+0,0.8+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
#webpers { margin:0 auto; width:750px; height:35px;}
#webpers img { float:right; padding-top:2px;}

ol { margin:10px;}
ol li { font-size:14px; list-style:decimal; margin-left: 30px; color:#fff;}
.user_img { height:150px; width:150px;}
.user_name {font-family:custom; color:#fff; font-size:20px;}
.score_point {font-family:custom; color:#fff; font-size:16px;}

table { width:90%; margin-left:10%;font-family:custom; color:#fff;}
table img { width:100px; height:100px;}
.leader_name {font-family:custom; color:#fff; font-size:16px;}


